.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* ******************logo****************** */


.Logo img {
width: 30%;
padding: 0.2rem;
border-radius: 2rem;
 /* border: 2px solid red; */
}




/* +++++++++++++++++++++++++++ Navbar +++++++++++++++++++++ */

h1{
  color: bisque;
}
 

h2{
  color: bisque;
 }
nav {
  display: block;
  border: 2px solid #ddd;
  box-shadow:rgb(168, 72, 72);
  padding: 15px;
  background-color: rgb(168, 72, 72);
  margin-bottom: 1.5rem;

}


input{
  border-radius: 9rem;
  padding: 8px;
  border: 2px solid white;
}
/* .searchBtn{
  border-radius:9rem;
  padding: 5px;
} */


/* ************body*************** */
*{
  box-sizing: border-box;
  background-color: rgb(68, 86, 93);
  color: #ddd;
}



/*      *******************************Cards ******************      */

/* .flip-card {
  background-color:transparent;
  width: 100%;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
}
 */



 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

 
 /* row is a card container */
 .cardsContainer {
   /* border: 2px red solid; */
   display: flex;
   flex-wrap: wrap;
   gap: 40px;
   justify-content: center;
 }
 
 img {
  width: 100%;
  border: 2px solid #ddd;
  box-shadow: rgb(168, 72, 72);

 }
 
/* The flip card container - set the width and height to whatever you want. 
We have added the border property to demonstrate that the flip itself goes out of 
the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
   background-color: transparent;
   width: 200px;
   height: 200px;
   border: 1px solid white;
   /* overflow: hidden; */
   perspective: 1000px;
   /* margin: 0.5rem; */
   padding: 0;
   /* Remove this if you don't want the 3D effect */
 }

 /* This container is needed to position the front and back side */
 .flip-card-inner {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.8s;
   transform-style: preserve-3d;
 }

 /* Do an horizontal flip when you move the mouse over the flip box container */
 .flip-card:hover .flip-card-inner {
   transform: rotateY(180deg);
 }

 /* Position the front and back side */
 .flip-card-front,
 .flip-card-back {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden;
   /* Safari */
   backface-visibility: hidden;
   
 }

 /* Style the front side (fallback if image is missing) */
 .flip-card-front {
   background-color: #bbb;
   color: black;
 }

 /* Style the back side */
 .flip-card-back {
   background-color: rgb(63, 84, 92);
   color: white;
   transform: rotateY(180deg);
 }





 /* ****************pagination********************** */



.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination-button {
  border: none;
  background-color: #f1f1f1;
  color: black;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.pagination-button:hover {
  background-color: #ddd;
}

.pagination-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-page {
  font-size: 1rem;
  margin: 0 1rem;
}

@media only screen and (max-width: 800px) {
  .pagination-button {
    padding: 0.25rem 0.5rem;
  }
}

/* **************modal**************** */

 .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px red;
  
 
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
 
}


.modal-body img {
  border-radius: 50%;
  border: 2px solid bisque;
  object-fit: cover;
  margin-left: 20px;
  width: 300px;
  height: 300px;
 } 

  




 /* Modal styling */
  /* .modal-header {
   background-color: #343a40;
   color: #fff;
 }

 .modal-title {
   font-size: 1.5rem;
 }

 .modal-body {
   text-align: center;
 }

 .modal-body img {
   max-width: 50%;
   height: auto;
 }

 .modal-body div {
   margin-bottom: 10px;
 }

 .modal-body div strong {
   margin-right: 5px;
 }

 .modal-footer {
   justify-content: center;
   border-top: none;
 }

 .modal-footer button {
   background-color: #343a40;
   color: #fff;
   border: none;
 }

 .modal-footer button:hover {
   background-color: #2f343a;
 }  */


 